<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a class="btn btn-outline-light m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2026 Copyright: GuideRails — Built by Hazel, Erik and Lennart with ♥️
  </div>
  <!-- Copyright -->
</footer>
